@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="flex items-center space-x-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="text-gray-600">
            <a id="manage" class="text-sm font-medium hover:text-gray-800" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </div>
        <div>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="text-sm font-medium text-gray-600 hover:text-gray-800 bg-transparent border-0 p-0 cursor-pointer">Logout</button>
            </form>
        </div>
        @if (User.IsInRole("Customer"))
        {
            <div class="ml-4 relative">
                <button id="cartButton"
                        class="flex items-center justify-center p-2 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <span id="cartItemCount"
                          class="absolute -top-1 -right-1 flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-red-600 rounded-full transform scale-0 transition-transform duration-300"
                          aria-hidden="true">0</span>
                </button>
            </div>
        }
    }
    else
    {
        <div>
            <a class="text-sm font-medium text-gray-600 hover:text-gray-800" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div>
            <a class="text-sm font-medium text-gray-600 hover:text-gray-800" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>